.navbar {
  background-color: #ffea00; /* Yellow */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.5rem;
}

.menu-icon {
  font-size: 1.5rem;
  cursor: pointer;
}

.logo {
  font-weight: bold;
  font-size: 2.2rem;
}

.cta-btn {
  background-color: #c09eff;
  color: white;
  border: none;
  padding: 0.4rem 1rem;
  border-radius: 20px;
  cursor: pointer;
  font-family: "Rethink Sans", sans-serif;
  width: 7rem;
}
